<footer class="footer">
    {% if config.extra.papermod.copyright %}
    <span>{{ config.extra.papermod.copyright }}</span>
    {% else %}
    <span>&copy; {{ now() | date(format="%Y") }} <a href="{{ config.base_url }}">{{ config.author }}</a></span>
    {% endif %}
    <span>
        Powered by
        <a href="https://www.getzola.org/" rel="noopener noreferrer" target="_blank">Zola</a> &
        <a href="https://github.com/cydave/zola-theme-papermod" rel="noopener" target="_blank">PaperMod</a>
    </span>
</footer>

{% if config.extra.papermod.show_scroll_to_top %}
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
        <path d="M12 6H0l6-6z" />
    </svg>
</a>
{% endif %}

{#- partial "extend_footer.html" . #}

{% if config.extra.papermod.show_scroll_to_top|default(value=true) %}
<script src="{{ get_url(path='js/scroll-to-top.js', cachebust=true) | safe }}"></script>
{% endif %}

{% if config.extra.papermod.show_code_copy_buttons|default(value=true) %}
<script src="{{ get_url(path='js/copy-code.js', cachebust=true) | safe }}"></script>
{% endif %}

{% if page.extra.is_search_page %}
<script src="{{ get_url(path='elasticlunr.min.js', cachebust=true) | safe }}"></script>
<script src="{{ get_url(path='js/search.js', cachebust=true) | safe }}"></script>
{% endif %}
